.window {
    height: 750px;
    width: 750px;
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    border-color: black;
    position: relative;
    display: table;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}